body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

img {
  height: 50px;
  width: 50px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  list-style: none;
}

footer {
  list-style: none;
}
