* {
  margin: none;
}

body {
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

img {
  height: 50px;
  width: 50px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgb(188, 224, 255);
  width: 100%;
}

footer {
  list-style: none;
  background-color: rgb(188, 224, 255);
  position: absolute;
  bottom: 0%;
  width: 100%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
